# Node.js
node_modules/

# IDEs
.vscode/

# Logs
*.log

# Build output
dist/
build/

# Base de données locales
*.sqlite
*.db

# Fichiers temporaires
Thumbs.db
Desktop.ini
.DS_Store
npm-debug.log
*~

# Clés et secrets
*.env
id_rsa
id_rsa.pub

# Résultats des tests
coverage/
test-results/

# Fichiers d'archive
*.tar.gz
*.zip
*.tar.bz2

# ubuntu
venv/
