<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FlaskGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
</head>
<body>

    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
            <span class="font-semibold text-xl tracking-tight">Mystery Number</span>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Game
                </a>
                <a href="/bestscore" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              Score
                </a>
            </div>
            <div>
                <input type="text" id="pseudo" class="block w-full max-w-xs px-4 py-2 text-sm font-normal shadow-xs text-white-900 bg-transparent border border-white-300 rounded-lg placeholder-white-400 focus:outline-none leading-relaxed " placeholder="Pseudo" required="">
            </div>
        </div>
    </nav>

    <div id="chat-template" class="hidden odd:bg-slate-50 even:bg-slate-200 p-6">
        <p class="message"></p>
    </div>

    <main class="mx-auto max-w-6xl px-4 py-10 flex flex-col">
        <form id="prompt-form" class="mt-auto">
            <label for="prompt" class="sr-only">Prompt</label>
            <div>
                <label for="prompt" class="sr-only">User Prompt</label>
                <div class="relative mt-2 rounded-md shadow-sm">
                    <input type="text" name="prompt" id="prompt"
                        class="block w-full rounded-md border-0 py-2.5 pl-4 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        placeholder="Cherche le nombre mystère compris entre 1 et 100">
                        <button class="btn-primary absolute inset-y-0 right-0 flex items-center pr-3">
                        <svg class="hidden" id="spinner-icon" width="24" height="24" fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">  
                        </svg>
                        <svg id="send-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" class="h-4 w-4 m-1 md:m-0" stroke-width="2">
                            <path d="M.5 1.163A1 1 0 0 1 1.97.28l12.868 6.837a1 1 0 0 1 0 1.766L1.969 15.72A1 1 0 0 1 .5 14.836V10.33a1 1 0 0 1 .816-.983L8.5 8 1.316 6.653A1 1 0 0 1 .5 5.67V1.163Z"
                                fill="currentColor"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
        <div id="gpt-output"></div>
    </main>

    <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>
</body>
</html>